/**
*  @category Movie Search
*  @author Vidura Nishantha <vidur@gmail.com>
*  http://www.viduranishantha.com

*  Styling Movie details.  
*/

@import "./variables.scss";

.movie-detials {
	padding: 30px;
	width: calc(100% - 60px);
	position: absolute;
	top: 0;
	height: 100%;
	background: $color-white;
	z-index: 4;
	display: none;

	&.active {
		display: block;
	}

	@media (min-width: $brakpoint-mobile) {
		width: calc(62% - 60px);
		position: relative;
	}

	.mobile-header {
		display: flex;
		justify-content: flex-end;
		padding: 0 0 20px;
		border-bottom: 1px solid $color-light-grey;
		margin-bottom: 20px;

		@media (min-width: $brakpoint-mobile) {
			display: none;
		}
	}

	.movie-main-info-container {
		display: flex;
		margin-bottom: 20px;

		.movie-thumb {
			width: 33%;

			img {
				width: 100%;
			}
		}

		.movie-details-discription {
			width: 63%;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			min-height: 250px;
			padding-top: 25px;

			h3 {
				font-size: 30px;
			}

			.watchlist-container {
				position: absolute;
				top: 0;
				right: 0;
				padding: 8px 10px 9px;
				border: solid 1px $color-grey-border;
				border-radius: 5px;
				display: flex;
				align-items: center;

				&:hover {
					cursor: pointer;
				}

				svg {
					margin-right: 5px;
				}
			}

			.extra-info {
				.extra-info-wrap {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: center;
					color: $main-font-color;

					.rated {
						border: 1px solid $color-grey-border;
						border-radius: 5px;
						padding: 5px;
						padding: 5px 8px 3px;
						margin-right: 10px;
						margin-bottom: 10px;
						margin-top: 7px;
					}
				}

				.actors {
					color: $main-font-color;
					margin-top: 20px;
				}
			}
		}
	}

	.movie-story-container {
		border-top: 1px solid $color-grey-border;
		padding: 20px 0;
		color: $main-font-color;
		line-height: 26px;
		font-size: 18px;
	}

	.movie-ratings {
		border-top: 1px solid $color-grey-border;
		padding: 20px 0;
		display: flex;

		.movie-rating-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-right: 1px solid $color-grey-border;
			width: 33.3%;
			color: $main-font-color;

			&:last-child {
				border-right: 1px solid $color-white;
			}

			.rating-value {
				padding: 5px 0;
			}

			.rating-source {
				padding: 5px;
				text-align: center;
			}
		}
	}
}