/**
*  @category Movie Search
*  @author Vidura Nishantha <vidur@gmail.com>
*  http://www.viduranishantha.com

*  Variables for styleing.  
*/

// Size variables
$brakpoint-mobile: 768px;
$brakpoint-tablet: 1024px;
$brakpoint-desktop: 1400px;

// colors
$color-white: #fff;
$color-red: #bb2121;
$color-primary: #666666;
$color-light-grey: #c4c4c4;
$color-light-grey2: #9c9c9c;
$color-light-grey3: #ebebeb;
$color-grey-border: #acacac;
$light-bg-grey: #b3b6bbb0;

$main-font-color: #4b4b4b;
$light-font-color: #979797;

$error-red: #f0e2e2;